@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes spin {
    to { transform: rotate(360deg); }
  }
  
  @keyframes spin-reverse {
    to { transform: rotate(-360deg); }
  }
  
  @keyframes progress {
    0% { width: 0%; }
    100% { width: 100%; }
  }
  
  .animate-spin {
    animation: spin 1.5s linear infinite;
  }
  
  .animate-spin-reverse {
    animation: spin-reverse 2s linear infinite;
  }
  
  .animate-progress {
    animation: progress 2s ease-in-out infinite;
  }